<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint
                name="RemoteTestRunnerEndpoint"
                address="net.pipe://localhost/FieldTest"
                binding="netNamedPipeBinding"
                contract="RemoteTestRunner.IRemoteTestRunner"/>
        </client>
    </system.serviceModel>
</configuration>